.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: stretch;

  background-color: var(--background);
  overflow: hidden;
}

.nav {
  position: absolute;
  /* width: 32rem; */
  width: 100%;
  height: 100%;
  margin-left: -100%;
  padding: 1.5rem 0;

  display: flex;
  flex-direction: column;

  background-color: var(--background-blur);
  backdrop-filter: blur(10px);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  z-index: 99;
  transition: margin-left 0.2s ease-in-out;
}

.nav--show {
  margin-left: 0;
}

.nav__close-menu {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.nav__title,
.nav__ul,
.nav__footer {
  margin: 0 3rem;
}

.nav__title {
  margin-bottom: 5rem;
}

.nav__ul {
  flex-grow: 1;
  list-style-type: none;
}

.nav__footer {
  margin-top: 2rem;
  text-align: center;
}

.main {
  position: relative;
  background-color: var(--background);
  flex-grow: 1;
}

.main__floating-button-menu {
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}

.main__container {
  padding: 0 1.6rem;
  width: 100%;
  height: 100%;

  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}

.main__container__content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.main__container__content__section {
  background-color: red;
  position: relative;
  width: 100%;
  min-height: 100%;
}

@media (min-width: 600px) {
  .nav {
    width: 32rem;
  }
}

@media (min-width: 1024px) {
  .nav {
    position: relative;
    margin-left: 0;
    width: 30rem;
  }

  .nav__title {
    margin-top: 3rem;
  }

  .nav__close-menu,
  .main__floating-button-menu {
    display: none;
  }

  .main__container {
    margin: 0 auto;
    padding: 0 3.5rem;
  }

  .main__container__content {
    max-width: 1280px;
  }
}
